h1
{
    text-align: center;
}
h3
{
    text-align: center;
}
.links
{
    text-align: center;
    list-style-type: none;
    line-height: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html
{
    background-image: linear-gradient(to bottom, #f7a800 , #FF5733 ,#F1420A );
    
}